/*******************************
*       GENERAL STYLES         *
********************************/
.wrap {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

/*******************************
*         LOGIN STYLES         *
********************************/
.reveal.tiny {
    width: 24%;
    border-radius: 10px;
}

.login {
    text-align: center;
    padding: 50px 50px;
}

.login input {
    border-radius: 10px;
}

.login h4 {
    color: dimgray;
}

.sign_in {
    width: 360px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.forgot_password {
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-weight: bolder;
}

.forgot_password:hover,
.forgot_password:focus {
    color: darkblue;
}
/*******************************
*         NAVBAR STYLES        *
********************************/
.nav-desktop {
    height: 80px;
    padding: 0px;
    background: #1952a2;
}

.site-logo {
    line-height: 80px;
    color: #ffffff;
}

.launch-button {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    padding: 15px 40px;
    background: #ffffff;
    color: #1952a2;
    font-size: 20px;
    border-radius: 100px;
    margin: 15px -65px;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.launch-button:hover,
.launch-button:focus {
    background-color:#2975de;
    color: #ffffff;
}

/*******************************
*         JUMBO STYLES         *
********************************/

.jumbo {
    height: 700px;
    background-color: #2975de;
    padding: 80px 0px;
    background-image: url("../img/pattern.png");
}

.jumbo h2, p {
    color: #ffffff;
}

.jumbo h2 {
    font-weight: 600;
}

.start-button {
    background-color: #7eb530;
    border-radius: 100px;
    padding: 15px 60px;
}

.start-button:hover,
.start-button:focus {
    background-color: #628d25;
}

.icon {
    margin-top: 20%;
    max-width: 500px;
    max-height: 500px;
    margin-left: 10%;
}

.jumbo-content {
    font-size: 20px;
    text-align: center;
    display: table-cell;
    padding-top: 123px;
    padding-right: 10px;
}

/*******************************
*         ABOUT STYLES         *
********************************/

.about {
    background-color: #f0f0f0;
    padding: 80px 0px;
}

.about h4 {
    color: #222;
}

.about p {
    color: #707070;
}

.clock-icon {
    width: 300px;
    height: 300px;
    margin: -23px 0px 0px 85px;
}

.hover-text {
    color: deepskyblue;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.hover-text:hover,
.hover-text:focus {
    color: #0086b3;
}

/*******************************
*         FEATURES STYLES      *
********************************/
.features {
    background-color: #E7E7E7;
    padding: 80px 0px;
}

.feature_title {
    color: dimgray;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 50px;
}

.feature_set {
    text-align: center;
}

.features p {
    color: dimgray;
}

/*******************************
*         PLATFORMS STYLES     *
********************************/
.platforms {
    background-color: #fffff;
    padding: 80px 0px;
}

.platforms img{
    margin-top: -50px;
}

.platforms p {
    color: dimgray;
}

.wide {
    padding: 10px 50px;
}
/*******************************
*         FOOTERS STYLES       *
********************************/
footer {
    background-color: #222;
    color: white;
    padding: 80px 0px;
    font-size: 20px;
    background-image: url("../img/pattern.png");
}

footer hr {
    border-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0px;
}

footer h4 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
}

footer a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8em;
}

footer a span {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);

}

a:hover, a:focus {
    color: rgba(255, 255, 255, 0.8);
}

.white_line {
    border-color: #ffffff;
}
